body{
    text-align: center;
}


td{
    width: 100px;
    height: 50px;
    border-radius: 7px;
    background-color: rgb(223, 222, 222);
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
}
.display td{
    height: 100px;
    background-color: black;
    color: white;
    text-align: right;
    font-size: 2.5rem;
    padding: 0 15px;
    
}
table{
    margin: auto;
}
#equal{
    background-color: teal;
}
.symbols td{
    background-color: rgb(110, 24, 99);
    color: white;
}
.c {
    background-color: rgb(80, 42, 42);
    color: white;
}