/* CSS Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
form{
  width: 500px;
  margin: 100px auto;
  padding: 20px;
  background-color: rgb(192, 192, 229);

}
input{
  width: 100%;
  padding: 10px;
  margin: 5px auto;
  border-radius: 5px;
  border: 0;
  outline-color: rgb(90, 180, 216);
}
small{
  margin-bottom: 20px;
  font-size: 1rem;
  display: block;
  color: rgb(156, 19, 19);
}
label{
  font-size: 20px;
  font-weight: 600;
}
.error{
  border: 2px solid red;
}
.success{
  border: 2px solid rgb(9, 165, 56);
}
.submit{
  width: 30%;
  margin-left: 35%;
  font-size: 1.2rem;
  text-align: center;

}
.submit:hover{
  background-color: crimson;
}